APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:BsZtuPJaRoK24+TXdNqz8axZSTFP0vUnYGpG3SvDFEw=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=oflem
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

VITE_GOOGLE_MAPS_API_KEY=AIzaSyAaeyO3ffYCdUpAHU0kQx3TsHGhlbaIgkA

VITE_GEMINI_API_KEY=AIzaSyAbbgQXF-HCNs8jJVun2oYhWQnJmumpx6Q

# Twilio SMS Configuration
TWILIO_SID=
TWILIO_TOKEN=
TWILIO_FROM=

# Test credentials (optional)
TWILIO_TEST_MODE=false
TWILIO_TEST_SID=
TWILIO_TEST_TOKEN=
TWILIO_TEST_FROM=

# Social Authentication
# Google OAuth
GOOGLE_CLIENT_ID=210715880548-4litt6mj5bupka8id5s5oja55cpcd13n.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback

# Facebook OAuth
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URI=http://localhost:8000/auth/facebook/callback

# Apple Sign-In
APPLE_CLIENT_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
APPLE_REDIRECT_URI=http://localhost:8000/auth/apple/callback

STRIPE_KEY=pk_test_51SFeKQFCxlZk3LbpDiYXiWglrR1fwWD2Z2fFWkeUsJWet8vNkiw4VowcepChILw6ple0Vkfpxzx1VsZL3ZTdXAYv00oZeyEwH1
STRIPE_SECRET=sk_test_51SFeKQFCxlZk3Lbppb00tqzVEuNjTLWHAvVlyQXJVyN4lZFiRMydLRUerajb0RmjGMCNiecz5zAeVVp0koSddmiI00swdT53LE
STRIPE_WEBHOOK_SECRET=whsec_Lij0b6rxH7iE7nCnCB3u2ceRlElXoGbq
PLATFORM_COMMISSION_PERCENT=15
VITE_STRIPE_KEY="${STRIPE_KEY}"

REVERB_APP_ID=928548
REVERB_APP_KEY=05zpeczizlxj02b6hjkm
REVERB_APP_SECRET=5gputkvf1dch75yidztw
REVERB_HOST=localhost
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

REVERB_SERVER_HOST=0.0.0.0
REVERB_SERVER_PORT=8080
